/* css to style header, footer, and navbar buttons */
header{
  padding:10px;
  font-family: 'Oleo Script';
  font-weight: 200;
  background-color: rgb(73, 73, 73);
  color: whitesmoke;
  border-bottom-style: solid;
  border-bottom-color: rgb(107, 148, 96);
}

body{
    background: rgb(212, 213, 213);
}

/*nav button styling*/
.btn{
    
    font-family: 'Oleo Script';
    background-color: rgb(107, 148, 96);
    font-size: 20px;
    
    color: whitesmoke
    
}

.nav-item{

    margin-left: -10px;
    margin-right: 20px;
}

.btn:hover{
   
    font-family: 'Oleo Script';
    font-weight: 700;
    color:green
}

h1{
    text-align: center;
}

footer {
    margin-top: 750px;
    text-align: center;
    font-family: 'Oleo Script';
    font-size: 20px;
    background-color: rgb(73, 73, 73);
    color: whitesmoke;
    padding: 0px 0px 120px;
}
